<!--Module Title-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div id="titles">
        <ul class="nav navbar-nav">
            <li>
                <a href="#moduletitles">Home</a>
            </li>
            <li>
                <a href="#pic1">Gallery</a>
            </li>
            <li>
                <a href="#aboutme">About Me</a>
            </li>
            <li>
                <a href="#Second">No Name</a>
            </li>
            <li>
                <a href="#Interests">Interests</a>
            </li>
        </ul>
    </div>
</nav>

<div id=moduletitle class="jumbotron text-center">
    <h2>
        <mark>Hello I'm Victor</mark>
        <p>
            All our knowledge begins with the senses, proceeds then to the understanding, and ends with reason.<br>
            There is nothing higher than reason.
        </p>
    </h2>
</div>

<div class="container">

    <div class="row">

        <div id="pic1" class="col-lg-4">
            <img src="/assets/terrace.JPG" alt="Victor Asante-Kyei" class="img-responsive img-circle"/>
        </div>

        <div id="aboutme" class="col-lg-8">
            <h2>About Me
            </h2>
            <p>
                Hi there I am Victor. ROR - Berlin
                <br>
                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. Design and user experience
                director. Grass there without lights be years male have and grass firmament kind bring, is thing doesn't herb.
                <br>
                <ul>
                    <li>Date of Birth: 31/08/1990</li>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <li>Place: Tema, Ghana</li>
                </ul>
            </p>
        </div>

    </div>

    <div id="space1" class="">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div id=firsttrio class=" jumbotron">
        <div id="First" class="col-lg-4"></div>
    </div class="row">
    <div id="Picture" class="col-lg-4">
        <ol>
            <li>
                Picture
            </li>
            <li>second recomendation</li>
        </ol>
        <a href="mailto:victorasantekyei@yahoo.co.uk?subject=feedback&cc=vicasante90@gmail.com&body=Please%20send%20me%20further%20information">send me an email</a>
        <img src="/assets/potsplatz1.jpg" class="img-responsive img-circle" alt=""/>
    </div>

    <div id="Second" class="col-lg-4">
        <h2>About Me
        </h2>
        <p>that is all there is to know</p>
    </div>

    <div id="Interests">
        <h2>Interests</h>
        <p>
            first interest</p>
    </div>
</div>
</div>

</div>
