<div class="container-fluid full-width-div">
<!--Navigation-->
<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div id="titles">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#moduletitles">Home</a>
            </li>
            <li>
                <a href="#pic1">Gallery</a>
            </li>
            <li>
                <a href="#aboutme">About Me</a>
            </li>
            <li>
                <a href="#Second">No Name</a>
            </li>
            <li>
                <a href="#Interests">Interests</a>
            </li>
        </ul>
    </div>
</nav>


<div id=moduletitle class="jumbotron text-center parallax" style="height:1000px;background-color:red;font-size:36px namefont">
    <h2>
        <mark>Hello I'm Victor</mark>

        <p>
            All our knowledge begins with the senses, proceeds then to the understanding, and ends with reason.<br>
            There is nothing higher than reason.
        </p>
    </h2>
</div>

<div class="full-width-div row clearbackground">

  <div id="pic1" class="col-lg-4 animated bounce">
            <img src="/assets/terrace.JPG" alt="Victor Asante-Kyei" class="img-responsive img-circle"/>
        </div>

        <div id="aboutme" class="col-lg-8 animated bounce">
            <h2>About Me
            </h2>
            <p>
                Hi there I am Victor. ROR - Berlin
                <br>
                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. Design and user experience
                director. Grass there without lights be years male have and grass firmament kind bring, is thing doesn't herb.
                <br>
                <ul>
                    <li>Date of Birth: 31/08/1990</li>
                    <li>Place: Tema, Ghana</li>
                </ul>
            </p>
        </div>
    </div>

<!--2nd Section-->

<div class="full-width-div row clearbackground">

  <div id="pic1" class="col-lg-4 animated bounce">
            <img src="/assets/terrace.JPG" alt="Victor Asante-Kyei" class="img-responsive img-circle"/>
        </div>

        <div id="aboutme" class="col-lg-8 animated bounce">
            <h2>About Me222222
            </h2>
            <p>
                Hi there I am Victor. ROR - Berlin
                <br>
                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. Design and user experience
                director. Grass there without lights be years male have and grass firmament kind bring, is thing doesn't herb.
                <br>
                <ul>
                    <li>Date of Birth: 31/08/1990</li>
                    <li>Place: Tema, Ghana</li>
                </ul>
            </p>
        </div>
    </div>

<!-- Third section-->

<div class="full-width-div row clearbackground">

  <div class="col-lg-4">
<h2>third section 1st column</h2>
    </div>


<div class="col-lg-4">

</div>


</div>

</div>


</div>
