// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#aboutme {
  //  background-color: red; color: white; height: 400px;
//}
.parallax {
    /* The image used */
    background-image: url("ak.jpg");

    /* Full height */
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax2 {
    /* The image used */
    background-image: url('potsplatz1.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.clearbackground {
  background-color: white;
  width: 100%
}
